# Business Central AL Language
.alpackages/
.alcache/
.snapshots/
rad.json
.vscode/launch.json

# Compiled app packages (excepto la versión actual si se desea)
*.app

# Visual Studio Code
.vscode/settings.json
.vscode/tasks.json
.vscode/
*.code-workspace
*.history/

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Logs
*.log

# Temporary files
*.tmp
*.temp
.vs/
*.env
*.user
*.DS_Store
node_modules/
*.bak
*.zip
*.rar
*.tar.gz
*.pfx
*.snk
*.cer
*.key
*.lock.json
